@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <header class="header-content header">
            <div class="logo-content">
                <img src="../assets/EmpPayrollLogo.png" class="logo-content-img" alt="EP">
                <div>
                    <span class="emp-text">EMPLOYEE</span><br>
                    <span class="emp-text payroll">PAYROLL</span>
                </div>
            </div>
        </header>
       @* <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
