@page "/"

    <div class="MainParagraph">

        <h1><strong>Employee Payroll App</strong></h1>

        <p>Welcome to Employee Payroll App.</p>

        <p>
            This objective of this project is to Apply the CRUD operation using Blazor.
        </p>

        <h4><strong>Description</strong></h4>
        <p>
            <strong style="color:red">C</strong>  - Creating the register page where the employees are regestered.
        </p>
        <p>
            <strong style="color:green">R</strong> - Read operation to show all the employees that are registered.
        </p>
        <p>
            <strong style="color:blue">U</strong> - Update means to change the existing employee.
        </p>
        <p>
            <strong style="color:#fffa0c">D</strong> - Delete is used to remove the existing data/employee completely from the table.
        </p>
    </div>
    <div>
        <NavLink href="/show">
            <button class="btn btn-primary btn-group-lg">Go To Dashboard</button>
        </NavLink>
    </div>
    @*<SurveyPrompt Title="How is Blazor working for you?" />*@
