.label.delete{
    display : inline-block;
    width : 0%;
    font-weight : bold;
}

.value.delete{
    width : 38%;
    margin-left : 4rem;
}

.profileDelete{
    margin : 1%;
    margin-left : 4rem;
}