.Save{
    margin-right : 15rem;
}

.main_Container{
    display : block;
    flex-direction : row;
}

.header_text{
   font-weight : bold;
   font-size : 20px;
}

.table-main {
    display: block;
    margin-top : 20px;
    flex-direction: row;
}

#edit{
    float:right;
}

#delete{
    float:right;
}

.nav-link{
    display : inline-block;
}

#id{
    overflow : auto;
}

#emp_count {
    border: 2px solid green;
    border-radius: 53px;
    margin: 3px;
    padding: 5px 14px;
    color: red;
    background-color: greenyellow;
}
}